<div class="container">
  <h2>Microfrontend Shell</h2>
  <p>Welcome to the Angular 11 Microfrontend demo using Webpack 5 Module Federation</p>
  <p>This component is part of the shell application, the Profile component that is linked from the `Profile` link at
    the top is a Microfrontend that is remotely loaded into the application. Check the network settings to see the
    remote being loaded.</p>

    <button nz-button nzType="primary" (click)="createModal()">基座弹窗</button>
    <div style="margin: 10px 0;"></div>

    <federated-component 
      remoteEntry="http://localhost:4201/remoteEntry.js" 
      remoteName="profile" 
      exposedModule="ProfileModule" 
      componentName="ListUserComponent"
    ></federated-component>
</div>
