<div style="border: 1px solid slateblue;min-height: 600px;padding-top: 20px;">
  <h2>子应用的组件--用户列表</h2>
  <button nz-button nzType="primary" (click)="createModal()">使用基座注入的modal</button>
  <button nz-button nzType="primary" (click)="createMessage()">使用基座注入的message</button>
  <nz-select ngModel="lucy">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
  </nz-select>
</div>